# dependencias grunt y gulp
/node_modules/

# directorios src que se generan automáticamente
/src/platforms/
/src/plugins/
/src/merges/
/src/hooks/
/src/www/index.html
/src/www/bower_components/

# main.css se genera al ejecutar gulp, no lo incluimos
src/www/css/main.css

# directorio destino
/dist/

# log files
*.log
