<ons-navigator-toolbar     
	title="Detalle Solicitud">      
</ons-navigator-toolbar>
<ons-scroller>
	<div class="container" ng-controller="detalleSolicitudController">
		<ul>
			<li ng-repeat="datos in detalle">
				<p>Follio: {{ datos.id }}</p>
				<p>Tipo: {{datos.tipo}}</p> 
				<p>TipoGestion: {{datos.tipoGestion}}</p>
				<p>SujetoObligado: {{datos.sujetoObligado}}</p>
				<p>Descripcion: {{datos.descripcion}}</p>
				<p>Estado: {{datos.estado}}</p>
				<p>Forma de Notificación: {{datos.formaNotificacion}}</p>
				<p>Fecha inicio: {{datos.fechaInicio}}</p>
				<p>Fecha límite: {{datos.fechaLimite}}</p>
				<p>Fecha notificación: {{datos.fechaNotificacionn}}</p>
				<p>Fecha completado: {{datos.fechaCompletado}}</p>
			</li>
		</ul>
	</div>
</ons-scroller>