<ons-navigator
    title="inVer" 
    left-button-icon="fa fa-bars" 
    on-left-button-click="ons.splitView.toggle()">		   
    <ons-page>
        <img src="../img/INVER2.png" alt="INVER">
        <p>
        	La aplicación Inver es un medio de comunicación entre el Instituto Veracruzano de Acceso a la Información (IVAI) y los ciudadanos, la cuál permite la generación de solicitudes de información pública sobre determinadas instituciones veracruzanas. Los ciudadanos, además pueden consultar las estadísticas generadas por dichas instituciones, sobre los temas de transparencia y acceso a la información pública.
        </p>
    </ons-page>
</ons-navigator>