<ons-navigator
    title="Login" 
    right-button-icon="fa fa-bars">		   
    <ons-page>
        <ons-scroller>
            <div class="container"  ng-controller="nuevebit.inver.controllers.LoginController as controller">
                <div id="mensaje" class="alert alert-danger" ng-show="mensaje" ng-model="mensaje">{{mensaje}}</div>
                <form class="form-horizontal" ng-submit="" name="loginForm">
                    <div class="form-group ">
                        <div class="col-md-6 col-md-offset-3">
                            <ons-text-input required placeholder="Nombre de usuario" id="nombreUsuario" nombre="username" ng-model="usuario.nombreUsuario" class="topcoat-text-input form-control"></ons-text-input>
                            <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Proporciona tu nombre de usuario.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <ons-text-input required name="password" type="password" placeholder="Contraseña" id="password" ng-model="usuario.password" class="topcoat-text-input form-control "></ons-text-input>
                            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Proporciona tu contraseña.</p>
                        </div>
                    </div>
                    <div class="form-group center">
                        <ons-button type="submit" class="" ng-click="controller.login(loginForm.$valid, usuario)" ng-disabled="loginForm.$invalid">Iniciar sesión</ons-button>
                    </div>
                    <div class="form-group center">
                        <ons-button ng-click="ons.navigator.pushPage('views/registro.html')" class="topcoat-button--quiet">Regístrate en inVer </ons-button>
                    </div>
                </form>
            </div>
            <div>Pruebas</div>
            <ons-button ng-click="ons.navigator.pushPage('views/solicitudInformacion.html')" class="topcoat-button--quiet">Prueba Solicitud de Información</ons-button>
            <ons-button ng-click="ons.navigator.pushPage('views/listaSolicitudes.html')" class="topcoat-button--quiet">Prueba ver solicitudes</ons-button>
            <ons-button ng-click="ons.navigator.pushPage('views/estadisticas.html')" class="topcoat-button--quiet">Estadísticas</ons-button>
        </ons-scroller>
    </ons-page>
</ons-navigator>
