<ons-page>
	<ons-navigator-toolbar     
		title="Registro">      
	</ons-navigator-toolbar>
	<ons-scroller>
		<div class="container" ng-controller="registroController">
			<div>
				<small class="required">Indica que el campo es obligatorio.</small>		
			</div>
			<form class="form-horizontal">
				<fieldset>
					<legend>Información de cuenta</legend>
					<div class="form-group">
						<label for="nombreUsuario" class="col-xs-12 col-sm-3 required"> Nombre de usuario:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input required ng-model="usuario.nombreUsuario" id="nombreUsuario" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-xs-12 col-sm-3 required">
							Contraseña:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input required type="password" ng-model="usuario.password" id="password" class="topcoat-text-input form-control"></ons-text-input>
						</div>						
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-xs-12 col-sm-5">						
							<ons-text-input required type="password" ng-model="usuario.passwordConfirmada" class="topcoat-text-input form-control" placeholder="Confirmar contraseña"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="preguntaSecreta" class="col-xs-12 col-sm-3 required">
							Pregunta secreta:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-select class="topcoat-text-input form-control" required ng-model="usuario.pregunta" id="preguntaSecreta" selected="selected">    
								<option value="" disabled>Seleccionar pregunta secreta</option>
								<option value="¿Lugar de nacimiento de mi Mamá?">¿Lugar de nacimiento de mi Mamá?</option>
								<option value="¿Mi mejor amigo de la infancia?">¿Mi mejor amigo de la infancia?</option>
								<option value="¿Nombre de mi mascota?">¿Nombre de mi mascota?</option>
								<option value="¿Profesor favorito?">¿Profesor favorito?</option>
								<option value="¿Personaje histórico favorito?">¿Personaje histórico favorito?</option>
								<option value="¿Ocupación de mi abuelo?">¿Ocupación de mi abuelo?</option>
							</ons-select>
						</div>
					</div>
					<div class="form-group">
						<label for="respuestaSecreta" class="col-xs-12 col-sm-3 required">
							Respuesta a pregunta secreta:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input type="password" ng-model="usuario.respuestaSecreta" id="respuestaSecreta" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Información personal</legend>
					<div class="form-group">
						<label for="personalidadJuridica" class="col-xs-12 col-sm-3 required">
							Personalidad jurídica:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-select class="topcoat-text-input form-control" ng-model="usuario.personalidadJuridica" id="personalidadJuridica">    
								<option value="" disabled>Seleccionar personalidad jurídica</option>
								<option value="Física">Física</option>
								<option value="Moral">Moral</option>
							</ons-select>
						</div>

					</div>
					<div class="form-group">
						<label for="nombre" class="col-xs-12 col-sm-3 required">
							Nombre (s):
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input ng-model="usuario.nombre" id="nombre" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="apellidoPaterno" class="col-xs-12 col-sm-3 required">
							Apellido paterno:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input ng-model="usuario.apellidoPaterno" id="apellidoPaterno" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="apellidoMaterno" class="col-xs-12 col-sm-3 required">
							Apellido Materno:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input ng-model="usuario.apellidoMaterno" id="apellidoMaterno" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="fechaNacimiento" class="col-xs-12 col-sm-3">
							Fecha de nacimiento:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input type="date" ng-model="usuario.fechaNacimiento" id="fechaNacimiento" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-xs-12 col-sm-3 required">
							Correo electrónico:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input type="email" ng-model="usuario.email" id="email" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="estado" class="col-xs-12 col-sm-3 required">
							Estado:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-select class="topcoat-text-input form-control" ng-model="usuario.estado" id="estado">    
								<option value="" disabled>Seleccionar estado</option>
								<option value="Veracruz">Veracruz</option>
							</ons-select>
						</div>
					</div>
					<div class="form-group">
						<label for="municipio" class="col-xs-12 col-sm-3 required">
							Municipio:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-select class="topcoat-text-input form-control" ng-model="usuario.municipio" id="municipio" selected="{{usuario.municipio}}" >    
								<option value="" disabled>Seleccionar municipio</option>
								<option value="Xalapa">Xalapa</option>
							</ons-select>
						</div>
					</div>
					<div class="form-group">
						<label for="codigoPostal" class="col-xs-12 col-sm-3 required">
							Código postal:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input ng-model="usuario.codigoPostal" id="codigoPostal" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="colonia" class="col-xs-12 col-sm-3 required">
							Colonia:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input ng-model="usuario.colonia" id="colonia" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="calle" class="col-xs-12 col-sm-3 required">
							Calle:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input ng-model="usuario.calle" id="calle" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="numeroExterior" class="col-xs-12 col-sm-3 required">
							Numero exterior:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input ng-model="usuario.numeroExterior" id="numeroExterior" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="numeroInterior" class="col-xs-12 col-sm-3">
							Número interior:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input ng-model="usuario.numeroInterior" id="numeroInterior" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="telefono" class="col-xs-12 col-sm-3">
							Teléfono:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input ng-model="usuario.telefono" id="telefono" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div class="form-group">
						<label for="fax" class="col-xs-12 col-sm-3">
							Fax:
						</label>
						<div class="col-xs-12 col-sm-5">						
							<ons-text-input ng-model="usuario.fax" id="fax" class="topcoat-text-input form-control"></ons-text-input>
						</div>
					</div>
					<div>
						<ons-button type="submit" ng-click="crearCuenta(usuario)" class="topcoat-button boton">Crear cuenta</ons-button>
						<ons-button ng-click="ons.navigator.popPage()" class="topcoat-button--quiet">Cancelar</ons-button>
						<div id="mensaje" class="alert alert-success" data-ng-show="mensaje" data-ng-bind="mensaje"></div>
					</div>
				</fieldset>
			</form>
		</div>
	</ons-scroller>
</ons-page>