body {
	span {
     //   width: 80px;
 }
}

//scaffolding estilos generales
.menu-inver .scroller{
	background-color: #73CAC6 ;
}
#lista-menu{
	.topcoat-list__item{
		border-bottom: 1.5px solid #fff;
		color: #fff;
		margin: 10px;
		letter-spacing:2px;
		font-weight: bold;
	}
}