//menu
.menu-inver .scroller{
    background-color: @azul;	
    .topcoat-list__item{
        border-bottom: 1.5px solid #fff;
        color: #fff;
        margin: 10px;
        letter-spacing:2px;
        font-weight: bold;
        text-transform: uppercase;

        i {
            position: absolute;
            display: block;
        }
        div {
            margin-left: 30px;
            position: relative;
        }	


    }
}

.lista-solicitud{
    border-bottom: 1.5px solid @cafe;
    position: relative;
    div {
        position: relative;
        display: block;
        float: left;
        width: 33%;
    }	

    .tipo {
        text-align: right;
    }
    
    .status {
        clear: both;
        float: none;
        display: block;
        text-transform: uppercase;
        color: @amarillo;
        text-align: right;
        width: 100%;
        margin-top: 25px;

        &.completado {
            color: @verde;
        }
    }
}

.descripcion {
    font-weight: bold;
    text-align: justify;
}

.logo {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 65%;
}

