.form-control {
	&:focus{
		.box-shadow(none) !important;
	}
	.transition(none);
	border: 1px solid #504041; // #CCCCCC;
}
.boton{
	margin:5px;
}
.required:before{
	content: '* ';
	color: red;
	position: relative;	
}

.menu-inver & .selected{
	color: #504041 !important;//#25B5C2;
}

.container{
	padding: 10px;
}

//Para que el radio button con opcion 
//otro no se junte con el anterior en 
//la misma linea
#radio-forma{
	display: block;
}

