<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nuevebit.inver" version="0.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>inVer</name>
    <description>
        Aplicación desarrollada para el concurso TecnoCopa IVAI 2014.
    </description>
    <author email="contacto@nuevebit.com" href="http://www.nuevebit.com">
       NueveBit
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
